@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/wallpaperflare.com_wallpaper.jpg");
}

.welcome {
  color: rgb(216, 208, 208);
}

.sign-in-btn {
  background-color: rgb(216, 208, 208);
}

.sign-in-btn:hover {
  background-color: rgb(216, 208, 208);
}

.plant-alert {
  position: fixed;
  left: 20%;
  outline: 1px black;
}

.navbar {
  background-color: rgb(216, 208, 208);
  box-shadow: 6px 6px #02631f;
  border: 3px solid #014415;
  padding: 20px;
  margin: 20px;
}

.nav-item {
  font-size: 16px;
  color: #ff5757;
}

hr.solid {
  border-top: 3px solid #bbb;
}

.house-btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.profile-font {
  color: rgb(216, 208, 208);
}

.house-cards {
  box-sizing: border-box;
  grid-gap: 12px;
}

.plant-cards {
  box-sizing: border-box;
  grid-gap: 12px;
}

.house-card {
  border: 1px solid rgb(0, 0, 0);
}

.plant-card {
  border: 1px solid rgb(0, 0, 0);
}